services:
  frontend-prod:
    container_name: frontend-prod
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "8086:80"
    depends_on:
      - backend-prod
  backend-prod:
    container_name: backend-prod
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    ports:
      - "3334:3334"
    env_file:
      - ./backend/.env
